# Временное решение для хранения ключей авторизации бота.
# Потом можно будет перенести все в один json фалйл вместе с информацией для части с тайгой.

# Первые два поля необходимо получить на my.telegram.org (создать приложение, через которое бот будет авторизоваться
# Токен используется вместо номера телефона, потому что бот - не пользователь
# Однажды сгенерировав ключи для приложения их НЕЛЬЗЯ ОТОЗВАТЬ.
# Если ключи скомпрометированы, то придется УДАЛЯТЬ АККАУНТ, чтобы от них избавиться
API_ID = 12345678
API_HASH = "jfiokjfeoewjvno1qnvg4049032t5594"
BOT_TOKEN = "1234567890:JIojJIOjoNOJNoHUIhEUEJfioejofeJEOee"
BOT_USERNAME = "@username"